/*--------------------- sidebar ---------------------*/
.accordion-item:hover {
  background: black;
  color: white;
}
.accordion-item .accordion-panel:hover {
  background: white;
  color: black;
}
.accordion-item #asyu:hover {
  background: white;
  color: black;
}
.accordion-item #asyu {
  padding: 5px;
}
/*--------------------- content ---------------------*/
#content {
  max-width: 1600px;
}
/*--------------------- sales report ---------------------*/
.report-card {
  display: flex;
  padding: 20px;
  gap: 20px;
  margin: 5px 0px;
}
/*--------------------- barchart ---------------------*/
.barChart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
/*--------------------- @media ---------------------*/

@media (max-width: 1035px) {
  .barChart {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 750px) {
  .report-card {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  #table-content {
    display: none;
  }
  #card-content {
    display: block;
  }
}

@media (max-width: 450px) {
  #button-add {
    display: none;
  }
}
